* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: white;
  --main-text-color: black;
  /* --blue-1: ; */
  --divider: #b9b9b9;
  --main-font: "Helvetica Neue";
  --main-gradient: linear-gradient(
    90deg,
    rgba(31, 90, 112, 1) 0%,
    rgba(70, 125, 171, 1) 35%,
    rgba(81, 179, 242, 1) 100%
  );
  --bottom-shadow: linear-gradient(
    90deg,
    rgba(83, 83, 83, 0) 0%,
    rgba(3, 23, 36, 1) 100%
  );
  /* --top-shadow: ; */
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 24px 40px 24px 40px;
  display: flex;
  background-color: var(--main-bg-color);
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 3vw;
}

header h1 a {
  text-decoration: none;
  color: var(--main-text-color);
  letter-spacing: -3px;
  font-family: var(--main-font), sans-serif;
}

nav {
  width: 42%;
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 1.62vw;
  font-weight: 200;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
}

nav a:hover {
  text-shadow: 0px 0.62px;
}

.hero {
  padding: 128px 80px 128px 56px;
  display: flex;
  justify-content: flex-end;
  background: var(--main-gradient);
}

.hero h2 {
  width: 35%;
  display: flex;
  font-size: 2vw;
}

.avatar {
  height: 25vw;
}

.projects {
  display: flex;
  background-color: var(--main-bg-color);
  justify-content: space-around;
}

.project {
  width: 40%;
  padding: 16px;
  background-color: aqua;
}

.project-title {
  font-size: 40px;
  font-family: var(--main-font), sans-serif;
}

.project-type {
  font-family: var(--main-font), sans-serif;
  margin-top: 8px;
  width: 20%;
  display: flex;
  color: var(--main-text-color);
}

.dev-status {
  display: flex;
  font-family: var(--main-font), sans-serif;
  justify-content: space-between;
}

.dev-status h4 {
  padding: 8px;
}

.project-info {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
