* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: white;
  --main-text-color: black;
  /* --blue-1: ; */
  --divider: #b9b9b9;
  --main-font: "Helvetica Neue";
  --main-gradient: linear-gradient(
    90deg,
    rgba(31, 90, 112, 1) 0%,
    rgba(70, 125, 171, 1) 35%,
    rgba(81, 179, 242, 1) 100%
  );
  --bottom-shadow: linear-gradient(
    90deg,
    rgba(83, 83, 83, 0) 0%,
    rgba(3, 23, 36, 1) 100%
  );
  --off-white: #efefef;
  /* --top-shadow: ; */
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 24px 40px 24px 40px;
  display: flex;
  background-color: var(--main-bg-color);
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 3vw;
}

header h1 a {
  text-decoration: none;
  color: var(--main-text-color);
  letter-spacing: -3px;
  font-family: var(--main-font), sans-serif;
}

nav {
  /* width: 42%; */
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 1.62vw;
  font-weight: 200;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
}

nav a:hover {
  text-shadow: 0px 0.62px;
}

.hero {
  padding: 64px 56px 64px 56px;
  display: flex;
  justify-content: flex-end;
  background: var(--main-gradient);
}

.hero h2 {
  width: 35%;
  display: flex;
  font-size: 2vw;
}

.avatar {
  background-image: url("../images/mp.PNG");
  background-position: center;
  height: 600px;
  width: 400px;
  position: relative;
}

.project {
  padding: 32px;
  border: 2.34px var(--divider) solid;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.project a {
  margin-top: 24px;
}
.p-container {
  width: 100%;
  padding: 16px;
}

.projects-container {
  display: flex;
}

.projects {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.projects p {
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
}

.projects-container h2 {
  justify-content: flex-end;
  padding: 8px;
  font-size: 64px;
  font-family: var(--main-font), sans-serif;
}

.project-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-info h3 {
  display: flex;
  justify-content: flex-start;
  font-size: 56px;
  font-family: var(--main-font), sans-serif;
}

/* ABOUT ME */
.about-me {
  display: flex;
  padding: 64px 32px 64px 32px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--main-font), sans-serif;
}

.about-me h2 {
  display: flex;
  width: 100%;
  font-size: 64px;
  font-family: var(--main-font), sans-serif;
}

.about-me p {
  font-size: 40px;
  font-family: var(--main-font), sans-serif;
  flex-wrap: wrap;
}

.divide {
  margin: 0 48px 0 0px;
  height: 128px;
  border-left: 5px solid var(--divider);
}

.avatar {
  border: 8px var(--off-white) solid;
}

/* CONTACT INFO */
.contacts {
  padding: 44px 0 44px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contacts article {
  display: flex;
  margin: 0 24px 0 24px;
  align-items: center;
}

.contact h5 {
  font-size: 24px;
  font-weight: 200px;
  font-family: var(--main-font), sans-serif;
}
.contact p {
  margin: 0 0 0 8px;
  font-size: 24px;
  font-weight: 200;
  font-family: var(--main-font), sans-serif;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-container p {
  font-size: 5vw;
}

.demo {
  display: flex;
  background-image: url("../images/mp.PNG");
  /* background-size: cover; */
  /* border-radius: 8px; */
  background-color: red;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status {
  margin-top: 8px;
  font-family: var(--main-font), sans-serif;
  color: var(--main-text-color);
  display: flex;
}

.status h4 {
  font-size: 24px;
  font-weight: 425;
}
.status p {
  margin-left: 8px;
  font-size: 24px;
  font-weight: 475;
}

.project img {
  width: 100%;
  border-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .divide {
    width: 75%;
    display: flex;
    align-items: center;
    height: 2px;
    border: 0;
    border-bottom: 5px solid var(--divider);
  }

  .project {
    padding: 32px;
    border: 2.34px var(--divider) solid;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }

  .project div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project div p {
    margin: 0 0 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .p-container {
    width: 100%;
    padding: 16px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
  }

  .projects {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .other-projects {
    display: flex;
  }

  .hstack article {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .contact h5 {
    font-size: 16px;
  }
  .contact p {
    font-size: 16px;
  }
  .project-info {
    display: flex;
    justify-content: space-between;
  }

  .project-info h3 {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-family: var(--main-font), sans-serif;
  }

  .status {
    font-family: var(--main-font), sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .status h4 {
    font-weight: 375;
    font-size: 14px;
  }
  .status p {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    width: 100%;
  }

  nav {
    /* width: 62%; */
    display: flex;
    justify-content: space-around;
  }

  nav a {
    font-size: 4vw;
    font-weight: 200;
    padding: 0 8px 0 8px;
    letter-spacing: 2.5px;
    text-decoration: none;
    color: var(--main-text-color);
    font-family: var(--main-font), sans-serif;
  }

  header {
    padding: 44px 8px 24px 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    align-items: center;
    justify-content: space-between;
  }

  header h1 {
    font-size: 8vw;
    padding-bottom: 16px;
  }

  header h1 a {
    text-decoration: none;
    color: var(--main-text-color);
    letter-spacing: -2px;
    font-family: var(--main-font), sans-serif;
  }
}
